// Banner
.bg-banner {
  height: 336px;

  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home_mobile.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .banner-text {
    background-color: $dark3;
    padding: 32px 80px;
    border: 1px solid #fff;

    .text-gradient {
      @include gradient-y;
      background-clip: text;
      color: transparent;
    }

    .square {
      width: 10px;
      height: 10px;
      background-color: #fff;
    }
  }

  @include pc {
    height: 680px;

    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .banner-text {
      padding: 50px 80px;
      border: 1px solid #fff;

      h2 {
        font-size: 48px;
      }

      .text-gradient {
        @include gradient-y;
        background-clip: text;
        color: transparent;
      }

      .square {
        width: 10px;
        height: 10px;
        background-color: #fff;
      }
    }

  }
}

// Process
.process {

  .process-title {

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $primary;
      left: calc(50% - 25px);
      bottom: 24px;
    }
  }

  .process-card {

    h5 {
      color: $primary;
      position: absolute;
      font-size: 48px;
      font-weight: bold;
      top: -26px;
      left: 48px;
      background-color: $dark2;
    }
  }
}

// Properties
.properties {
  margin: 0 auto;

  .property-title {
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $primary;
      left: calc(50% - 25px);
      bottom: 0;
    }
  }

  .property-card {
    color: $white;
    border: 1px solid transparent;
    border-color: $dark3;
    background-color: $dark3;
    // opacity: 0.2;

    &:hover {
      border: 1px solid $primary;
    }

    .material-icons {
      font-size: 50px;

      @include gradient-y;
      background-clip: text;
      color: transparent;
    }
  }


  @include pc {

    .property-title {
      text-align: left;
      display: flex;
      justify-content: start;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 190px;
      }
    }

    .property-card {
      opacity: 0.2;

      background-color: $dark1;
      border-color: $dark1;

      &:hover {
        background-color: $dark3;
        // padding: 52px 0;
        opacity: 0.8;

        .material-icons {
          font-size: 50px;

          @include gradient-y;
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}

// Hot-Courses
.hot-courses {

  .hot-courses-title {

    &::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 3px;
      background-color: $primary;
      left: calc(50% - 25px);
      bottom: 24px;
    }
  }

  .hot-course-card {
    border-radius: 24px 24px 24px 24px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $primary;
    }

    .card-img-top {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .card-footer {
      border-top: 1px solid $white
    }
  }

  a {
    @include gradient-x;
    display: inline-block;
  }
}


// Features
.feature-card-bg01 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info01.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-card-bg02 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info02.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-card-bg03 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info03.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-card-bg04 {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info04.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-card {
  height: 263px;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $dark2;
      opacity: 0.8;
      transition: opacity 0.5s;
    }

    h5 {
      color: $primary;
      opacity: 0.8;
    }

    h6 {
      color: $white;
      opacity: 0.8;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        bottom: 50%;
        left: calc(100%/2 - 25px);
        background-color: $primary;
        width: 50px;
        height: 3px;
        transition: width 0.5s;
      }
    }

    p {
      color: $white;
      text-align: center;
      opacity: 0.8;
    }
  }

  @include pc {
    padding: 216px 48px;
    height: 615px;

    .card-body {
      // text-align: left;
      display: block;

      h5 {
        color: $white;
      }

      h6 {
        color: $white;
        // z-index: 2;

        &::after {
          content: "";
          position: absolute;
          bottom: 284px;
          left: 48px;
          background-color: #fff;
          width: 50px;
          height: 3px;
          transition: width 0.5s;
        }
      }

      p {
        text-align: left;
      }

      &:hover {
        color: $primary;

        &::before {
          opacity: 0.2;
        }

        h5 {
          color: $primary;
        }

        h6 {
          &::after {
            width: 70px;
            background-color: $primary;
          }
        }

        p {
          color: $white;
          opacity: 0.9;
        }
      }

    }




  }
}


// Navigation
.navbar {
  .navbar-brand {
    width: 24px;
    height: 24px;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/5d91d2de215d774a360093b4739a960a9ba68be0/week6-202207/logo2.svg);
    background-size: cover;
    background-repeat: no-repeat;

    @include pc {
      width: 175px;
      height: 42px;
      background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/5d91d2de215d774a360093b4739a960a9ba68be0/week6-202207/logo.svg);
    }
  }
}



// Article
.squareRounded {
  display: none;
  width: 32px;
  height: 32px;

  &-topLeft {
    border-top: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-top-left-radius: 10px;
  }

  &-topRight {
    border-top: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-top-right-radius: 10px;
  }

  &-bottomLeft {
    border-bottom: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-bottom-left-radius: 10px;
  }

  &-bottomRight {
    border-bottom: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-bottom-right-radius: 10px;
  }
}

.card:hover {
  .squareRounded {
    display: block;
  }
}

// Student Recommend
.bg-slider {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  // height: 733px;
}

.w-50px {
  width: 50px;
}

.swiper-slide {
  .slider-content {
    max-width: 913px;
    padding-left: 12px;
    margin-bottom: 45px;
    // position: relative;

    .slider-img {

      img {
        border-radius: 24px;
        max-width: 100%;
        object-fit: cover;
      }

      @include pc {
        max-width: 525px;
        max-height: 381px;
      }

      &::before {
        border: 1px solid #7C7E77;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        position: absolute;
        z-index: -999;
        content: "";
        top: 12px;
        left: -12px;
      }

    }

    .slider-text {
      margin-top: 60px;
      padding: 24px;
      border-radius: 24px 24px 24px 0;
      position: relative;

      @include pc {
        max-width: 416px;
        // max-height: 178px;
        padding: 32px;
        position: absolute;
        bottom: -48px;
        right: -12px;
        z-index: 2;
      }

      .student-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: -50px;
        right: 32px;

        @include pc {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

.swiper-controller {
  color: $primary;

  @include pc {
    position: absolute;
    bottom: -10px;
    left: 20%;
  }

  .material-icons-pagination {
    .swiper-pagination-bullet {
      background-color: $primary;
      border-radius: 1rem;
    }

    .swiper-pagination-bullet-active {
      width: 1em;
    }
  }
}

.join-us {
  .material-icons {
    font-size: 80px;
  }
}