<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
</head>

<body>
  <!-- Navigation -->
  <div class="bg-dark1 header-nav">
    <div class="container">
      <nav class="navbar navbar-expand-lg py-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="material-icons text-primary">drag_handle</span>
          </button>
          <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 fs-5  align-items-center gap-4">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="./index.html">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="./class.html">課程介紹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#"><span
                    class="material-icons align-middle me-2">account_circle</span>登入</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>


  <%- contents %>

    <footer class="footer bg-dark4" data-aos="fade-up">
      <p class="text-center text-white  m-0">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

    <script>
      const swiper1 = new Swiper('.swiper-student', {
        // Optional parameters
        effect: 'fade',  //effct(效果)；fade(淡入淡出)
        fadeEffect: {
          crossFade: true  //設置為true，避免看到後面或下面的內容
        },

        // If we need pagination
        pagination: {
          el: '.material-icons-pagination',
          clickable: true,    // 分頁物件
        },

        // Navigation arrows
        navigation: {
          nextEl: '.material-icons-next',    // 上一頁按鈕物件
          prevEl: '.material-icons-prev',    // 下一頁按鈕物件
        },
        mousewheel: true,
        keyboard: true,
      });

      var swiper2 = new Swiper(".swiper-learn", {
        slidesPerView: "auto",
        // slidesPerView: 9,
        spaceBetween: 30,
        freeMode: true,
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });

      var swiper3 = new Swiper(".swiper-class", {
        slidesPerView: "auto",
        // slidesPerView: 9,
        spaceBetween: 30,
        freeMode: true,
        // loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        // 
        breakpoints: {
          768: {
            // slidesPerView: 6
            loop: true
          },
          992: {
            // slidesPerView: 9
            // loop: true
          }
        }
      });
    </script>

    <!-- 視差滾動 -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

      });
    </script>


</body>

</html>